<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrewliang.glide"
    >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/glide_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:versionCode="1"
        android:versionName="1.0">
        <activity
            android:name="com.andrewliang.glide.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andrewliang.glide.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
        </activity>
        <activity
            android:name="com.andrewliang.glide.AboutActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" >
        </activity>
    </application>

</manifest>
